/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Asar|Oxygen");
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #40438f;
  font-family: "Asar";
  perspective: 1500px;
  user-select: none;
}

body {
  background: url("https://images.unsplash.com/photo-1615529328331-f8917597711f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
